In [4]:
import numpy as np
import pandas as pd
import os

In [8]:
NYPD_data = pd.read_csv("NYPD_Motor_Vehicle_Collisions.csv", low_memory = False)

In [10]:
NYPD_data.columns

Index(['DATE', 'TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE',
       'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
       'CONTRIBUTING FACTOR VEHICLE 5', 'UNIQUE KEY', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
       'VEHICLE TYPE CODE 5'],
      dtype='object')

In [15]:
NYPD_data.dtypes

DATE                              object
TIME                              object
BOROUGH                           object
ZIP CODE                          object
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                          object
ON STREET NAME                    object
CROSS STREET NAME                 object
OFF STREET NAME                   object
NUMBER OF PERSONS INJURED        float64
NUMBER OF PERSONS KILLED         float64
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
CONTRIBUTING FACTOR VEHICLE 1     object
CONTRIBUTING FACTOR VEHICLE 2     object
CONTRIBUTING FACTOR VEHICLE 3     object
CONTRIBUTING FACTOR VEHICLE 4     object
CONTRIBUTING FACTOR VEHICLE 5     object
UNIQUE KEY                         int64
VEHICLE TYPE CODE 1               object
VEHICLE TYPE CODE 2               object
VEHICLE TYPE CODE 3               object
VEHICLE TYPE CODE 4               object
VEHICLE TYPE CODE 5               object
dtype: object

In [14]:
NYPD_data.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,04/28/2019,0:00,BROOKLYN,11208,40.685050,-73.875950,"(40.68505, -73.87595)",NaN,NaN,126 CHESTNUT STREET,...,Passing Too Closely,NaN,NaN,NaN,4122662,Sedan,NaN,NaN,NaN,NaN
1,04/28/2019,0:00,QUEENS,11419,40.690490,-73.816086,"(40.69049, -73.816086)",103 AVENUE,130 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4121710,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,04/28/2019,0:00,NaN,NaN,40.699955,-73.986820,"(40.699955, -73.98682)",JAY STREET,SANDS STREET,NaN,...,Unspecified,NaN,NaN,NaN,4122602,Sedan,Bike,NaN,NaN,NaN
3,04/28/2019,0:01,QUEENS,11369,40.760900,-73.870180,"(40.7609, -73.87018)",99 STREET,31 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4123523,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,04/28/2019,0:05,BROOKLYN,11233,40.676884,-73.919230,"(40.676884, -73.91923)",HOWARD AVENUE,ATLANTIC AVENUE,NaN,...,Unspecified,Unspecified,NaN,NaN,4122095,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,NaN,NaN

In [20]:
NYPD_data["DATE"] = pd.to_datetime(NYPD_data["DATE"])

In [55]:
NYPD_data_18 = NYPD_data.loc[NYPD_data["DATE"] < "2019-01-01"]

In [56]:
NYPD_data_18.head(10)

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
121,2018-12-29,19:45,NaN,NaN,NaN,NaN,NaN,EAST BEDFORD PARK BOULEVARD,NaN,NaN,...,NaN,NaN,NaN,NaN,4055860,Sedan,NaN,NaN,NaN,NaN
564,2018-12-24,10:00,NaN,NaN,NaN,NaN,NaN,CROSS ISLAND PARKWAY,NaN,NaN,...,NaN,NaN,NaN,NaN,4055249,Sedan,NaN,NaN,NaN,NaN
7206,2018-12-17,14:30,NaN,NaN,40.759270,-73.980896,"(40.75927, -73.980896)",WEST 49 STREET,NaN,NaN,...,NaN,NaN,NaN,NaN,4047978,NaN,NaN,NaN,NaN,NaN
7473,2018-11-27,17:17,NaN,NaN,40.651512,-74.007340,"(40.651512, -74.00734)",41 STREET,NaN,NaN,...,NaN,NaN,NaN,NaN,4033872,Sedan,NaN,NaN,NaN,NaN
7815,2018-11-27,17:18,NaN,NaN,40.801155,-73.959656,"(40.801155, -73.959656)",CATHEDRAL PARKWAY,NaN,NaN,...,NaN,NaN,NaN,NaN,4034033,Sedan,NaN,NaN,NaN,NaN
7888,2018-11-24,14:05,NaN,NaN,NaN,NaN,NaN,BRONX WHITESTONE BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4033006,Sedan,Sedan,NaN,NaN,NaN
8081,2018-11-19,14:00,NaN,NaN,NaN,NaN,NaN,63 street,1 avenue,NaN,...,Unspecified,NaN,NaN,NaN,4029108,Sedan,NaN,NaN,NaN,NaN
8155,2018-11-15,21:00,NaN,NaN,NaN,NaN,NaN,QUEENS MIDTOWN TUNNEL,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4029185,Sedan,Sedan,NaN,NaN,NaN
8399,2018-11-15,23:35,NaN,NaN,NaN,NaN,NaN,VANCORTLANDT PARK WEST,BROADWAY,NaN,...,Unspecified,NaN,NaN,NaN,4027376,Sedan,Sedan,NaN,NaN,NaN
9155,2018-11-15,7:10,NaN,NaN,40.694840,-73.983910,"(40.69484, -73.98391)",JOHNSON STREET,NaN,NaN,...,NaN,NaN,NaN,NaN,4027679,Sedan,NaN,NaN,NaN,NaN

In [57]:
NYPD_data_18["NUMBER OF PERSONS INJURED"].sum()

368034.0

In [37]:
NYPD_data["NUMBER OF PERSONS INJURED"].loc[NYPD_data["DATE"] < "2019-01-01"].sum()

368034.0

In [63]:
308587/998752

0.308972597802057

In [80]:
NYPD_data_18["BOROUGH"].value_counts(dropna=True)

BROOKLYN         308587
QUEENS           263229
MANHATTAN        245338
BRONX            136327
STATEN ISLAND     45271
Name: BOROUGH, dtype: int64

In [75]:
NYPD_data_16 = NYPD_data_18.loc[(NYPD_data_18["DATE"] < "2017-01-01") & (NYPD_data_18["DATE"] >= "2016-01-01")]

len(NYPD_data_16["NUMBER OF CYCLIST INJURED"])

229788

In [79]:
5024/229788

0.021863630824934286

In [82]:
NYPD_data_16["BOROUGH"].value_counts(dropna = True).sum()

153289

In [83]:
47461/153289

0.30961778079314234

In [95]:
NYPD_data_17 = NYPD_data_18.loc[(NYPD_data_18["DATE"] < "2018-01-01") & (NYPD_data_18["DATE"] >= "2017-01-01")]

Bronx_pop = 1471160
Brook_pop = 2648771
Manhattan_pop = 1664727
Queens_pop = 2358582
Staten_pop = 479458

NYPD_data_17alc = NYPD_data_17.loc[(NYPD_data_17["CONTRIBUTING FACTOR VEHICLE 1"] == "Alcohol Involvement") |
                                  (NYPD_data_17["CONTRIBUTING FACTOR VEHICLE 2"] == "Alcohol Involvement") |
                                  (NYPD_data_17["CONTRIBUTING FACTOR VEHICLE 3"] == "Alcohol Involvement") | 
                                  (NYPD_data_17["CONTRIBUTING FACTOR VEHICLE 4"] == "Alcohol Involvement") |
                                  (NYPD_data_17["CONTRIBUTING FACTOR VEHICLE 5"] == "Alcohol Involvement")]

NYPD_data_17alc["BOROUGH"].value_counts()

BROOKLYN         602
QUEENS           512
BRONX            274
MANHATTAN        259
STATEN ISLAND    100
Name: BOROUGH, dtype: int64

In [98]:
print(602/Brook_pop)
print(512/Queens_pop)
print(274/Bronx_pop)
print(259/Manhattan_pop)
print(100/Staten_pop)

0.00022727521556223623
0.00021707958425867745
0.00018624758693819844
0.00015558106524373065
0.00020856884231778384

In [144]:
pd.options.mode.chained_assignment = None 
NYPD_data_16["CAR 1"] = pd.notnull(NYPD_data_16["CONTRIBUTING FACTOR VEHICLE 1"]).astype(int)
NYPD_data_16["CAR 2"] = pd.notnull(NYPD_data_16["CONTRIBUTING FACTOR VEHICLE 2"]).astype(int)
NYPD_data_16["CAR 3"] = pd.notnull(NYPD_data_16["CONTRIBUTING FACTOR VEHICLE 3"]).astype(int)
NYPD_data_16["CAR 4"] = pd.notnull(NYPD_data_16["CONTRIBUTING FACTOR VEHICLE 4"]).astype(int)
NYPD_data_16["CAR 5"] = pd.notnull(NYPD_data_16["CONTRIBUTING FACTOR VEHICLE 5"]).astype(int)


NYPD_data_16["CARS IN ACCIDENT"] = NYPD_data_16["CAR 1"] + NYPD_data_16["CAR 2"] + NYPD_data_16["CAR 3"] + NYPD_data_16["CAR 4"] + NYPD_data_16["CAR 5"]

NYPD_data_16["CARS IN ACCIDENT"].value_counts()

2    182697
1     31545
3     11655
4      2385
5       793
0       713
Name: CARS IN ACCIDENT, dtype: int64

In [180]:
NYPD_data_16["CAR 1"] = pd.notnull(NYPD_data_16["VEHICLE TYPE CODE 1"]).astype(int)
NYPD_data_16["CAR 2"] = pd.notnull(NYPD_data_16["VEHICLE TYPE CODE 2"]).astype(int)
NYPD_data_16["CAR 3"] = pd.notnull(NYPD_data_16["VEHICLE TYPE CODE 3"]).astype(int)
NYPD_data_16["CAR 4"] = pd.notnull(NYPD_data_16["VEHICLE TYPE CODE 4"]).astype(int)
NYPD_data_16["CAR 5"] = pd.notnull(NYPD_data_16["VEHICLE TYPE CODE 5"]).astype(int)


NYPD_data_16["CARS IN ACCIDENT"] = NYPD_data_16["CAR 1"] + NYPD_data_16["CAR 2"] + NYPD_data_16["CAR 3"] + NYPD_data_16["CAR 4"] + NYPD_data_16["CAR 5"]

NYPD_data_16["CARS IN ACCIDENT"].value_counts()

zip_codes = NYPD_data_16["ZIP CODE"].value_counts().index

zip_count = {}
for zip_code in zip_codes:
    zip_count[zip_code] = NYPD_data_16["CARS IN ACCIDENT"].loc[NYPD_data_16["ZIP CODE"] == zip_code].sum()

print(zip_count)

{'11207': 5703, '11101': 4375, '11201': 3905, '10019': 3926, '11234': 4283, '10016': 3806, '11203': 4142, '10022': 3721, '10036': 3727, '10001': 3814, '11236': 3996, '11226': 3868, '11434': 4181, '11385': 3699, '10013': 3360, '11212': 3466, '11208': 3450, '10002': 3333, '11354': 3353, '11233': 3200, '11230': 3145, '11206': 2934, '11213': 3126, '10467': 2975, '11355': 2956, '11368': 2983, '11210': 2911, '10018': 2680, '11220': 2740, '11235': 2861, '10011': 2716, '11211': 2597, '11223': 2697, '11217': 2566, '10466': 2667, '11377': 2701, '11373': 2631, '11420': 2882, '11221': 2602, '10451': 2475, '10458': 2556, '11216': 2614, '10306': 2569, '11432': 2529, '10017': 2322, '11413': 2524, '11214': 2341, '11219': 2350, '10003': 2237, '10457': 2308, '11215': 2251, '11229': 2292, '10035': 2205, '11204': 2296, '11372': 2276, '10029': 2138, '11218': 2180, '10461': 2246, '10469': 2270, '11435': 2239, '11222': 2045, '11238': 2171, '10460': 2134, '10304': 2072, '10065': 2109, '10027': 2030, '10459': 1948, '11419': 2224, '10462': 2032, '11209': 2017, '10312': 1996, '10453': 2039, '11375': 2055, '10454': 1868, '11205': 1857, '10468': 1951, '11422': 2103, '10456': 1877, '10012': 1836, '11237': 1781, '10472': 1822, '11225': 1813, '11378': 1731, '10301': 1797, '11691': 1853, '10463': 1685, '10455': 1635, '10010': 1684, '10025': 1659, '11433': 1668, '10032': 1640, '11417': 1774, '10023': 1509, '10305': 1555, '10473': 1543, '11418': 1606, '10452': 1531, '11412': 1624, '10021': 1463, '10033': 1470, '11358': 1530, '11361': 1465, '10014': 1376, '11228': 1464, '11231': 1307, '11369': 1424, '11374': 1408, '10024': 1333, '11232': 1265, '10465': 1294, '10034': 1247, '11367': 1337, '10128': 1225, '10475': 1262, '10009': 1205, '10474': 1103, '10309': 1266, '11421': 1309, '11224': 1160, '11423': 1246, '11106': 1170, '11379': 1216, '11249': 1099, '10031': 1083, '11429': 1216, '11357': 1124, '10007': 1059, '10028': 1046, '11370': 1118, '11416': 1100, '10310': 979, '11103': 1000, '10030': 992, '11414': 1124, '11365': 1045, '11411': 1031, '11356': 975, '10026': 954, '10470': 914, '11364': 861, '11102': 840, '10037': 821, '11436': 907, '11427': 858, '10075': 736, '10038': 732, '11366': 800, '11105': 764, '10308': 783, '10040': 736, '11428': 818, '11004': 753, '10039': 620, '11426': 722, '11362': 664, '11415': 653, '10314': 643, '11104': 614, '11239': 638, '10004': 508, '11694': 545, '10471': 507, '11692': 462, '11693': 477, '10006': 344, '10307': 361, '11360': 396, '10005': 315, '11363': 336, '10020': 216, '10464': 238, '10000': 173, '11001': 200, '11040': 132, '10119': 75, '10172': 72, '10280': 74, '10168': 48, '11430': 61, '10069': 44, '10121': 49, '10302': 52, '10282': 44, '10281': 33, '10118': 38, '10169': 40, '10278': 22, '11697': 36, '11109': 37, '11005': 35, '10165': 24, '10048': 15, '10105': 13, '10115': 9, '10110': 9, '10111': 10, '10153': 6, '10123': 8, '10155': 4, '10178': 3, '10174': 7, '11359': 3, '10279': 8, '10151': 6, '11242': 2, '10106': 1, '11251': 2, '10107': 4, '10271': 1, '10112': 2, '10170': 2, '10166': 2, '10167': 1, '10173': 2, '10103': 1}

In [186]:
NYPD_data_17["CAR 1"] = pd.notnull(NYPD_data_17["VEHICLE TYPE CODE 1"]).astype(int)
NYPD_data_17["CAR 2"] = pd.notnull(NYPD_data_17["VEHICLE TYPE CODE 2"]).astype(int)
NYPD_data_17["CAR 3"] = pd.notnull(NYPD_data_17["VEHICLE TYPE CODE 3"]).astype(int)
NYPD_data_17["CAR 4"] = pd.notnull(NYPD_data_17["VEHICLE TYPE CODE 4"]).astype(int)
NYPD_data_17["CAR 5"] = pd.notnull(NYPD_data_17["VEHICLE TYPE CODE 5"]).astype(int)


NYPD_data_17["CARS IN ACCIDENT"] = NYPD_data_17["CAR 1"] + NYPD_data_17["CAR 2"] + NYPD_data_17["CAR 3"] + NYPD_data_17["CAR 4"] + NYPD_data_17["CAR 5"]

jan_17 = NYPD_data_17.loc[(NYPD_data_17["DATE"] < "2017-02-01") & (NYPD_data_17["DATE"] >= "2017-01-01")]
feb_17 = NYPD_data_17.loc[(NYPD_data_17["DATE"] < "2017-03-01") & (NYPD_data_17["DATE"] >= "2017-02-01")]
mar_17 = NYPD_data_17.loc[(NYPD_data_17["DATE"] < "2017-04-01") & (NYPD_data_17["DATE"] >= "2017-03-01")]
apr_17 = NYPD_data_17.loc[(NYPD_data_17["DATE"] < "2017-05-01") & (NYPD_data_17["DATE"] >= "2017-04-01")]
may_17 = NYPD_data_17.loc[(NYPD_data_17["DATE"] < "2017-06-01") & (NYPD_data_17["DATE"] >= "2017-05-01")]
jun_17 = NYPD_data_17.loc[(NYPD_data_17["DATE"] < "2017-07-01") & (NYPD_data_17["DATE"] >= "2017-06-01")]
jul_17 = NYPD_data_17.loc[(NYPD_data_17["DATE"] < "2017-08-01") & (NYPD_data_17["DATE"] >= "2017-07-01")]
aug_17 = NYPD_data_17.loc[(NYPD_data_17["DATE"] < "2017-09-01") & (NYPD_data_17["DATE"] >= "2017-08-01")]
sep_17 = NYPD_data_17.loc[(NYPD_data_17["DATE"] < "2017-10-01") & (NYPD_data_17["DATE"] >= "2017-09-01")]
oct_17 = NYPD_data_17.loc[(NYPD_data_17["DATE"] < "2017-11-01") & (NYPD_data_17["DATE"] >= "2017-10-01")]
nov_17 = NYPD_data_17.loc[(NYPD_data_17["DATE"] < "2017-12-01") & (NYPD_data_17["DATE"] >= "2017-11-01")]
dec_17 = NYPD_data_17.loc[(NYPD_data_18["DATE"] < "2018-01-01") & (NYPD_data_17["DATE"] >= "2017-12-01")]

months_17 = [jan_17,feb_17,mar_17,apr_17,may_17,jun_17,jul_17,aug_17,sep_17,oct_17,nov_17,dec_17]

In [191]:
collisions_17 = []
multi_car_collisions_17 = []

for month in months_17:
    collisions_17.append(len(month))
    multi_car_collisions_17.append(len(month.loc[month["CARS IN ACCIDENT"] >= 3]))

print(collisions_17)
print(multi_car_collisions_17)

collision_rates = []

for i in range(0,12):
    collision_rates.append(multi_car_collisions_17[i]/collisions_17[i])
print(collision_rates)

[17551, 15835, 19336, 17829, 21012, 21369, 19593, 19134, 19604, 20358, 19661, 19715]
[6212, 1028, 919, 951, 1136, 1154, 1080, 1056, 1147, 1175, 1176, 1186]
[0.3539399464417982, 0.06491948215977265, 0.047527927182457595, 0.053340063940770656, 0.05406434418427565, 0.054003462960363145, 0.05512172714745062, 0.055189714644089054, 0.05850846765966129, 0.057716868061695646, 0.05981384466710747, 0.06015724067968552]

In [202]:
import scipy as sp
from scipy import stats

jan_may_obs = np.array([[6212,11339],[1136,19876]])

sp.stats.chi2_contingency(jan_may_obs)

(5573.633342778628, 0.0, 1, array([[ 3344.26128673, 14206.73871327],
        [ 4003.73871327, 17008.26128673]]))

In [220]:
from sklearn import linear_model

NYPD_data_2018 = NYPD_data_18.loc[(NYPD_data_18["DATE"] < "2019-01-01") & (NYPD_data_18["DATE"] >= "2018-01-01")]
NYPD_data_15 = NYPD_data_18.loc[(NYPD_data_18["DATE"] < "2016-01-01") & (NYPD_data_18["DATE"] >= "2015-01-01")]
NYPD_data_14 = NYPD_data_18.loc[(NYPD_data_18["DATE"] < "2015-01-01") & (NYPD_data_18["DATE"] >= "2014-01-01")]
NYPD_data_13 = NYPD_data_18.loc[(NYPD_data_18["DATE"] < "2014-01-01") & (NYPD_data_18["DATE"] >= "2013-01-01")]

x = pd.DataFrame([2013,2014,2015,2016,2017,2018])
y = pd.DataFrame([len(NYPD_data_13),len(NYPD_data_14),len(NYPD_data_15),len(NYPD_data_16),len(NYPD_data_17),len(NYPD_data_2018)])

lm = linear_model.LinearRegression()
model = lm.fit(x,y)
print(lm.predict(x))
print(y)
lm.coef_

[[203830.38095238]
 [210278.29523809]
 [216726.20952381]
 [223174.12380952]
 [229622.03809524]
 [236069.95238095]]
        0
0  203729
1  206030
2  217692
3  229788
4  230997
5  231465

array([[6447.91428571]])

In [234]:
print(NYPD_data_18["LONGITUDE"].value_counts())
print(NYPD_data_18["LATITUDE"].value_counts())

 0.000000     819
-74.038086    671
-73.984529    586
-73.827440    474
-73.964314    473
-73.989792    455
-74.051980    440
-73.896853    433
-73.912430    429
-73.890623    417
-73.994910    407
-73.984530    407
-73.912820    403
-73.977196    377
-73.994040    368
-73.882744    356
-73.870369    354
-73.967462    353
-73.992633    350
-73.990623    347
-73.925144    343
-73.890630    342
-73.974945    337
-73.905120    337
-73.917270    336
-73.890675    334
-73.999242    334
-73.965293    332
-73.992604    324
-73.974936    322
             ...
-74.162056      1
-73.787546      1
-73.821636      1
-74.239345      1
-73.895341      1
-74.142100      1
-74.099556      1
-74.168743      1
-74.086242      1
-73.990884      1
-74.011020      1
-73.805330      1
-73.897293      1
-73.743304      1
-73.954899      1
-74.023950      1
-74.071980      1
-73.774080      1
-74.068645      1
-73.949793      1
-73.729747      1
-74.110886      1
-73.882456      1
-74.084270      1
-74.156670      1
-73.850445      1
-73.810235      1
-73.982768      1
-74.125420      1
-73.852640      1
Name: LONGITUDE, Length: 90317, dtype: int64
0.000000     819
40.608757    670
40.798256    626
40.696035    586
40.804700    492
40.759308    489
40.760601    473
40.757232    455
40.604153    440
40.675736    433
40.704422    431
40.658578    417
40.861862    386
40.696033    378
40.720321    368
40.744780    359
40.733497    354
40.760223    353
40.758429    350
40.750991    347
40.810053    343
40.820189    334
40.759527    334
40.768100    329
40.724136    324
40.746078    322
40.857128    319
40.756035    317
40.783248    314
40.761551    312
            ...
40.601692      1
40.734245      1
40.725216      1
40.662710      1
40.867000      1
40.862420      1
40.648003      1
40.840637      1
40.822796      1
40.669149      1
40.599464      1
40.601630      1
40.865627      1
40.616932      1
40.845648      1
40.635759      1
40.574460      1
40.707737      1
40.601894      1
40.685946      1
40.689404      1
40.633068      1
40.729800      1
40.818960      1
40.684035      1
40.898643      1
40.851357      1
40.833847      1
40.623875      1
40.723581      1
Name: LATITUDE, Length: 112241, dtype: int64

In [248]:
import math

ellipse_data_raw = NYPD_data_18[["ZIP CODE", "LONGITUDE", "LATITUDE"]]
ellipse_data = ellipse_data_raw.dropna()

ellipse_data = ellipse_data.loc[ellipse_data["LATITUDE"] != 0]
ellipse_data = ellipse_data.loc[ellipse_data["LONGITUDE"] != 0]

ellipse_zip_codes = ellipse_data["ZIP CODE"].value_counts().index

collisions_per_sqkm = {}

for zip_code in ellipse_zip_codes:
    zip_accidents = len(ellipse_data[ellipse_data["ZIP CODE"] == zip_code])
    if zip_accidents >= 1000:
        lat_km= 111*ellipse_data.loc[ellipse_data["ZIP CODE"] == zip_code, "LATITUDE"].std()
        lon_km = 85.39*ellipse_data.loc[ellipse_data["ZIP CODE"] == zip_code, "LONGITUDE"].std()
        sq_km = math.pi*lat_km*lon_km
        collisions_per_sqkm[zip_accidents/sq_km] = zip_code

In [249]:
print(collisions_per_sqkm)

{6637.7973996293495: '11207', 7543.635546439109: '11101', 35393.73181869512: '10016', 46024.16606072612: '10022', 18541.38575030986: '10019', 23468.70298392928: '10036', 9502.342982773695: '11201', 16218.852662029647: '10001', 7980.694017244689: '11203', 5771.07066846815: '11236', 3827.1372963001822: '11234', 3775.45025329638: '11385', 10820.150650188365: '11226', 30203.202813163316: '10013', 3561.6378855195944: '11434', 18398.756469587723: '10002', 7079.778655446574: '11212', 5679.708633577971: '11208', 7245.248063950381: '11230', 8538.48205643671: '11233', 9491.227887073392: '11206', 6629.054192368883: '11220', 4941.98767878148: '10467', 19363.17471221117: '10018', 6999.946303526089: '11354', 6600.845665406715: '11211', 9369.979603109818: '11213', 5243.868392511601: '11377', 4511.31058058438: '11235', 7983.358894301305: '11373', 14155.884793090845: '10011', 4464.065320764794: '11368', 5259.804622992636: '11355', 13242.212317866888: '11217', 19856.992802138: '10017', 11453.426318359088: '11216', 4126.316772524089: '11223', 4789.919169771541: '10466', 6359.121121959163: '11215', 5944.526108250311: '11210', 4210.518699740352: '11432', 17646.994112524913: '10003', 6246.397591197427: '11221', 5642.465370401727: '11219', 2072.229302546283: '10306', 9687.21064995088: '11372', 4462.898359285535: '10458', 24225.1400463111: '10065', 8739.155014933272: '10029', 4421.656300786652: '11214', 4101.344185577745: '11229', 4938.076104905669: '11204', 4947.752289353143: '11218', 2743.8531678457484: '10469', 2444.766570766257: '11413', 13802.37640376299: '10035', 3950.0072198068788: '11420', 6460.142340213745: '10451', 4240.937925034421: '10457', 6977.215450087127: '11222', 3203.4649623222417: '10461', 6044.820207942073: '11238', 3849.234510786054: '11375', 5150.990005322588: '10460', 10337.449457493007: '10027', 3614.4922264412876: '10468', 2740.03047900974: '11435', 18122.686449626075: '10012', 7014.066228307539: '11225', 16940.32636513331: '10010', 2377.6149728651567: '11422', 2724.48642331668: '10462', 1240.2268118342415: '10304', 5182.103447427061: '11205', 5900.721750183756: '11209', 11787.137203902314: '10023', 5283.183689230932: '11419', 6787.545020859561: '10459', 4668.190871255285: '11237', 6300.538122961493: '10025', 3878.025073465647: '10456', 951.5956576125334: '10312', 4379.525640015344: '10453', 1198.1895668323696: '10301', 4400.92686458374: '10463', 3164.659933987309: '11378', 6378.785084335654: '10454', 1329.8728718501486: '10305', 4371.082903942233: '10452', 10063.469839224008: '10024', 3444.079156908083: '10472', 3600.1269690083104: '11232', 6351.060599113886: '10455', 4462.504467919219: '11417', 2926.587991123744: '11691', 6342.557836140412: '10032', 3727.094089229689: '11433', 5289.671060686517: '10033', 14356.304081872568: '10128', 13999.036528304205: '10021', 12300.116583817733: '10014', 2978.288328072425: '11358', 3458.07421205039: '11418', 3800.067831688928: '11361', 9032.954309444392: '10009', 2744.5122324606095: '11412', 3774.9013046738155: '11228', 2367.4757804592423: '11374', 1591.268853184039: '10473', 4701.168201608367: '11369', 4845.167067272731: '11231', 504.5764445669124: '10465', 4760.09804139032: '10034', 3325.005693909325: '11367', 5170.040732867518: '11106', 2470.9316752416366: '11224', 478.87280210358057: '10314', 3406.481380258869: '10475', 2442.4024343382434: '11379', 4429.169795976353: '11421', 1173.3763791117499: '11423', 8498.094144897692: '10031', 4265.383326078144: '11249', 11357.264104631131: '10028', 5018.793920895999: '11103', 5135.403314645106: '11370', 2624.5083177662436: '10310', 12065.866396487878: '10007', 3257.9966575777457: '11429', 415.90038245527734: '10309', 1406.9597427927574: '11357', 2775.8818430455053: '10474', 3133.2820082123258: '11416', 1343.8177480666868: '11365', 2169.885414346342: '11356', 1788.7118394825493: '11414', 1779.8188649509323: '10470', 1760.0032053310795: '11411', 8770.67337675937: '10030', 1127.2443183342486: '11364', 8208.62162084708: '10026', 5142.314354036717: '11102', 1051.6416443223823: '11427', 8795.828931416987: '10075', 2896.340217393434: '11105', 5345.182568192769: '10037', 11339.580441892696: '10038', 654.6008874636509: '10308', 2236.6318106646286: '11428', 1733.3493498718533: '11004', 5040.077602526339: '11104', 2196.8244297957162: '11436', 1361.7431563852522: '11366', 3310.630513816526: '10040', 1593.5489783843025: '11426', 797.4300499813947: '11362', 1752.88619139362: '11415', 11228.664642599648: '10004', 5644.3734637794205: '10039', 801.3780729422105: '10471', 287.86350744408986: '11694', 296.0981530000618: '11239', 383.7795165913522: '11693', 620.4283726727638: '11692', 823.1391584800613: '11363', 28129.46271156844: '10006', 583.8261703142907: '11360'}

In [253]:
max(collisions_per_sqkm)

46024.16606072612